.faq {
    margin-top: 100px;
}

.faq__heading {
    padding-bottom: 39px;
}



.faq__question-item:first-child .faq__question {
  border-top: 1px solid #cacaca;
} 

.faq__question-item:first-child .faq__question:hover{
  border-top: 1px solid var(--main-color);
} 

.faq__question-text {
  padding: 39px 0;
  text-align: left;
}

.faq__question:hover,
.faq__question:focus {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.faq__question:active {
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
    border-top: 1px solid var(--second-color);
}

.faq__question {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #cacaca;
    transition-property: color, border-bottom, border-top;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.faq__btn-plus {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23ECECEC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='%23666666'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .3s ease;
}
.faq__question:hover .faq__btn-plus,
.faq__question:focus .faq__btn-plus{
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='rgb(100%, 60%, 0%)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='%23666666'/%3E%3C/svg%3E");
}
.faq__question:active .faq__btn-plus{
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='rgb(88%, 40%, 5%)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='%23666666'/%3E%3C/svg%3E");
}
.faq__question-ask{
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  max-width: 56.4%;
  padding-top: 30px;
  padding-bottom: 40px;
}
.ui-state-active .faq__btn-plus{
  transform: rotate(45deg) scale(.9);
}

@media (max-width: 1599px) {
  .faq__question-ask{
    max-width: 70%;
  }
}


@media (max-width: 1199px) {

  .faq__btn-plus {
    display: block;
    min-width: 50px;
    min-height: 50px;
  }
  .faq__question-ask{
    max-width: 80%;
  }

}

@media (max-width: 1025px) {
  
  .faq {
    margin-top: 53px;
  }
  .faq__question-ask{
    max-width: 100%;
  }

  .faq__question-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

}

@media (max-width:769px) {

  .faq__heading{
    letter-spacing: 0;
    margin-right: -30px;
  }

  .faq__question-item:first-child .faq__question-text {
    min-width: 570px;
  }

  .faq__question-item:nth-child(3) .faq__question-text {
    max-width: 470px;
  }

  .faq__question-text {
    max-width: 520px;
  }

  .faq__btn-plus {
    position: relative;
    left: 10px;
  }
  
}
@media(max-width:730px){
  .faq__question-item:first-child .faq__question-text {
    min-width: 0;
  }
}

@media(max-width:640px){
  .faq{
    margin-top: 39px;
  }
  .faq__heading{
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
  .faq__question-text{
    padding: 30px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .faq__question-item:first-child .faq__question-text {
    min-width: inherit;
  }
  .faq__btn-plus {
    display: block;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
  }
}

